.track-detail {
  position: fixed;
  top: 60px; // Adjust this value to match the height of your TopPanel
  right: 0;
  width: 300px; // Adjust width as needed
  height: calc(
    100% - 60px
  ); // Subtract the TopPanel height from the total height
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  .close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin-top: 0;
  }

  .track-formats {
    margin-top: 20px;

    p {
      margin: 5px 0;
    }
  }
}
