.front-page {
  display: flex;
  flex-direction: column;
  height: 100vh; // Ensure the page takes the full height of the viewport

  .main-content {
    display: flex;
    flex-grow: 1;
    background-color: #121212;
    color: #fff;
    overflow: hidden; // Prevent horizontal scrolling
  }
}
